@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

html,
body {
  height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  --primaryColor: #c42b2b;
  --primaryDarkColor: #691515;
  --primaryLightColor: #ad6565;

  --backgroundColor: #ededed;
  --backgroundSecondaryColor: #c17676;

  --fontOnPrimaryColor: #f2f2f2;
  --fontOnBackgroundColor: #333333;
  --fontOnBackgroundSecondaryColor: #f2f2f2;
  --fontSecondaryOnBackgroundSecondaryColor: #ededed;

  --codeBackgroundColor: #474545;
  --codePrimaryColor: #ff6459;
  --codeSecondaryColor: #00bbbb;

  --mobileMenuBackground: var(--backgroundColor);

  background: var(--backgroundColor);
}

html[data-theme='dark'] {
  --primaryColor: #2bbc8a;
  --primaryDarkColor: #1f8b66;
  --primaryLightColor: #7dbaa5;

  --backgroundColor: #1d1f21;
  --backgroundSecondaryColor: #2b2b2b;

  --fontOnPrimaryColor: #333333;
  --fontOnBackgroundColor: #eadede;
  --fontOnBackgroundSecondaryColor: #eadede;
  --fontSecondaryOnBackgroundSecondaryColor: #999999;

  --codeBackgroundColor: #2b2b2b;
  --codePrimaryColor: #2bbc8a;
  --codeSecondaryColor: #e09142;

  --mobileMenuBackground: var(--backgroundColor);

  background: var(--backgroundColor);
}

#themeSwitcherCircle {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 300ms ease-in-out;
  background: var(--primaryDarkColor);
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html[data-theme='dark'] #themeSwitcherCircle {
  left: 31px;
}

#themeSwitcherCircle::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f185';
  display: block;
  font-size: 20px;
  color: #FFD03C;
  margin-left: -1px;
  font-weight: 900;
}

html[data-theme='dark'] #themeSwitcherCircle::after {
  content: '\f186';
  color: #ddd;
}
